<p>Name: {{user.first_name}} {{user.last_name}}</p>
<p>Email: {{user.email}}</p>
<p>Role: {{user.role}}</p>
<button type="submit" id="logout">Cerrar Sesión</button>
<script src="/js/logout.js"></script>